body {
    margin: 0;
    font-family: 'Consolas', monospace;
    background: #0d0d0d;
    color: #eaeaea;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111;
    border-bottom: 1px solid #333;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #ccc;
    font-size: 16px;
    transition: 0.2s;
}

nav a:hover,
nav a.active {
    color: #00ffcc;
}

.logo {
    color: #00ffcc;
    font-size: 22px;
}

.hero {
    padding: 100px 20px;
    text-align: center;
}

.btn {
    padding: 12px 22px;
    background: #00ffcc;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 60px 20px;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    margin: 20px 0;
    border-left: 4px solid #00ffcc;
    border-radius: 6px;
}

.thumbnail-container {
    max-width: 600px;
    margin: auto;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
}

.thumbnail-preview img {
    width: 100%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #333;
    margin-top: 40px;
}